<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class</title>
    <style>
        body{
            color: ghostwhite;
            background-color: black;
        }
    </style>
</head>
<body>
<h3>Select Stream</h3>
<select name="" id="">
    <option value="selected">Select</option>
    <option value="Alpha">Alpha</option>
    <option value="Central">Central</option>
    <option value="Rho">Rho</option>
    <option value="Zeta">Zeta</option>
</select>
</body>
</html>