<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education background</title>
    <style>
        body{
            color: ghostwhite;
            background-color: black;
        }
    </style>
</head>
<body>
<p><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Alias amet aperiam, architecto aut, deserunt distinctio
    error illo, ipsam ipsum iure maxime minus perspiciatis
    placeat quasi quia repellat repellendus tempore voluptas!
     jUPITR</h3></p>
</body>
</html>